body{
    background-color: #4f4d5b;
    color: #c0c4c2;
}
.wrapper{
    max-width: 1000px;
    margin: 70px auto;
    font-family: 'Baloo 2', cursive;
}

.forecast-main{
    background-color: #111725;
    border-radius: 30px;
    height: 400px;
    padding: 20px;
    margin-bottom: 15px;
    background-image: url(../img/2285489.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
    -webkit-box-shadow: 0px 0px 10px 2px rgba(17,23,39,0.4); 
    box-shadow: 0px 0px 10px 2px rgba(17,23,39,0.4);
}

.main-head {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-bottom: 25px;
}

button{
    font-size: 15px;
    height: 32px;
    width: 75px;
    background-color: #b47644;
    border: #111725 solid 1px;
    color: #d7d8d8;
    border-radius: 15px;
    margin-left: 20px;
}

button:hover{
    background-color: #ec9e5f;
    color: #f9fcfc;
    -webkit-box-shadow: 0px 0px 9px 2px rgba(214,168,109,0.47); 
    box-shadow: 0px 0px 9px 2px rgba(214,168,109,0.47);
}

.location-pin {
    margin-right: 15px;
    cursor: pointer;
}

input[type=text] {
    background-color: #4f4d5b;
    border: #111725 solid 1px;
    color: #d7d8d8;
    height: 33px;
    width: 350px;
    margin-right: 15px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 50px;
}

input[type=text]:hover, input[type=text]:focus{
    outline: none;
    -webkit-box-shadow: 0px 0px 9px 2px rgba(41, 35, 27,0.47); 
    box-shadow: 0px 0px 9px 2px rgba(41, 35, 27, 0.47);
}

input[type="submit"] {
    margin-left: -50px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 15px;
    background-color: #b47644;
    border: #111725 solid 1px;
    color: #d7d8d8;
    width: 75px;
  }
  
input[type=submit]:hover{
    outline: none;
    background-color: #ec9e5f;
    color: #f9fcfc;
}

.main-info{
    margin-top: 50px;
    margin-right: 15px;
}

.current-city{
    text-align: center;
}

.col-5 {
    text-align: center;
    text-transform: capitalize;
}

.details{
    margin-top: 30px;
}


h1, .forecast-days h2{
    color: #b47644;
}

.current-city h2{
    font-size: 40px;
}

.current-city p{
    margin-top: 25px;
    margin-bottom: 10px;
}

#updating-date {
    margin-top: 0;
}

.main-icon {
    height: 180px;
}

li{
    margin-top: 25px;
    text-align: center;
    list-style: none;
}

.days{
    background-color: #111725;
    height: 130px;
    border-radius: 30px;
    margin-right: 10px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(17,23,39,0.4); 
    box-shadow: 0px 0px 10px 2px rgba(17,23,39,0.4);
    line-height: 15px;
}

.days:last-child{
    margin-right: 0px;
}

.days h2{
    padding-top: 4px;
    font-size: 20px;
    text-align: center;
}

.forecast-days .max-temp{
    font-size: 25px;
    margin-left: 15px;
    font-weight: 700;
    margin-bottom: 1px;
    margin-top: 15px;
}

.forecast-days .min-temp{
    font-size: 18px;
    font-weight: 200;
    margin-left: 18px;
    margin-top: 0px;
    color: #c0c4c288;
}

.forecast-days .weather-icon {
    padding-left: 0px;
}

.forecast-days .daily-temp {
    margin-top: 8px;
    padding: 0px;
}

.nextdays-icons{
    font-size: 45px;
    color: #c0c4c2c5;
    margin-top: 10px;
    margin-right: 10px;
}

.days .weather-disc {
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
}

footer{
    margin-top: 25px;
    color: #c0c4c281;
    text-align: center;
}

footer a{
    text-decoration: none;
    font-weight: 700;
    color: #c0c4c2ce;
}

footer a:hover {
    color: #c0c4c2fb;
}

.wi {
    cursor: pointer;
}